<form class="submit-post-form" method="POST">
  <input class= "input-title" type="input-title" name="title" placeholder="Title of your post">
  <input class="input-body" type="text" name="body" placeholder="Your post">
  <input class="create-post-btn" type="button" value="Submit Post">
</form>
